---
import Layout from "@/layouts/Layout.astro";
import {
	experiences,
	education,
	skills,
	awards,
	scholarships,
	services,
	teachings,
} from "../data/cv"; //* insert my data
import CvTimeline from "@/components/ui/CvTimeline.astro";

import type {
	Experience,
	Education,
	Award,
	Scholarship,
	Service,
	Teaching,
} from "../types/cv"; //* styles

import List from "@/components/ui/List.astro";
import SingleList from "@/components/ui/SingleList.astro";
import TeachingList from "@/components/ui/TeachingList.astro";
import {
	orderElement,
	orderElementSingleTime,
	orderTeaching,
} from "@/components/ui/Sorter.astro";

let orderedExperiences: Experience[] = [];
let orderedEducations: Education[] = [];
let orderedAwards: Award[] = [];
let orderedScholarships: Scholarship[] = [];
let orderedServices: Service[] = [];
let orderedTeachings: Teaching[] = [];

if (experiences.length > 0) {
	orderedExperiences = experiences.sort((a, b) => {
		return orderElement(a, b);
	});
}

if (education.length > 0) {
	orderedEducations = education.sort((a, b) => {
		return orderElement(a, b);
	});
}

if (awards.length > 0) {
	orderedAwards = awards.sort((a, b) => {
		return orderElementSingleTime(a, b);
	});
}

if (scholarships.length > 0) {
	orderedScholarships = scholarships.sort((a, b) => {
		return orderElementSingleTime(a, b);
	});
}

if (services.length > 0) {
	orderedServices = services.sort((a, b) => {
		return orderElementSingleTime(a, b);
	});
}

if (teachings.length > 0) {
	orderedTeachings = teachings.sort((a, b) => {
		return orderTeaching(a, b);
	});
}
---

<Layout>
	<p class="text-lg mb-4">
		For a full list of publications and research experience, please see my <a
			href="/cv/Zhixiong_Xiao_CV.pdf"
			download
			class="font-medium hover:text-[#1e96fc] hover:underline transition-colors"
		>
			CV</a
		>.
	</p>
	{
		orderedEducations.length > 0 && (
			<section class="mb-12">
				<h2 class="text-2xl font-bold mb-6 border-b pb-2">Education</h2>
				<CvTimeline elements={orderedEducations} colored={true} />
			</section>
		)
	}

	{
		orderedExperiences.length > 0 && (
			<section class="mb-12">
				<h2 class="text-2xl font-bold mb-6 border-b pb-2">
					Experiences
				</h2>
				<CvTimeline elements={orderedExperiences} colored={true} />
			</section>
		)
	}

	{
		orderedScholarships.length > 0 && (
			<section class="mb-12">
				<SingleList
					listTitle="Scholarships"
					listItems={orderedScholarships}
				/>
			</section>
		)
	}

	{
		orderedAwards.length > 0 && (
			<section class="mb-12">
				<SingleList listTitle="Awards" listItems={orderedAwards} />
			</section>
		)
	}

	{
		skills.length > 0 && (
			<section class="mb-12">
				<List listTitle="Skills" listItems={skills} />
			</section>
		)
	}

	{
		orderedServices.length > 0 && (
			<section class="mb-12">
				<SingleList listTitle="Services" listItems={orderedServices} />
			</section>
		)
	}

	{
		orderedTeachings.length > 0 && (
			<section class="mb-12">
				<TeachingList listTitle="Teaching" listItems={orderedTeachings} />
			</section>
		)
	}
</Layout>
